In [1]:
import pandas as pd
import os

In [2]:
fpath = os.path.join("..", "data", "unicorn_company_invester.csv")
df = pd.read_csv(fpath, converters={"Select Investors": lambda x: x.split(",")})

In [3]:
df.head()

,Company,Valuation($B),Date Joined,Country,Industry,Select Investors
0,100credit,$1,4/18/2018,China,Fintech,"[Sequoia Capital China, China Reform Fund, H..."
1,17zuoye,$1,3/7/2018,China,Edtech,"[DST Global, Temasek Holdings]"
2,23andMe,$2.50,7/3/2015,United States,Health,"[Google Ventures, New Enterprise Associates, ..."
3,4Paradigm,$2,12/19/2018,China,Artificial intelligence,"[Sequoia Capital China, China Construction Ba..."
4,58 Daojia,$1,10/12/2015,China,Internet software & services,"[KKR, Alibaba Group, Ping An Insurance]"

In [4]:
for company in df["Company"]

0      [Sequoia Capital China,  China Reform Fund,  H...
1                        [DST Global,  Temasek Holdings]
2      [Google Ventures,  New Enterprise Associates, ...
3      [Sequoia Capital China,  China Construction Ba...
4              [KKR,  Alibaba Group,  Ping An Insurance]
                             ...
496                       [Sequoia Capital,  VY Capital]
497    [Softbank Group,  AME Cloud Ventures,  SignalF...
498    [Sequoia Capital China,  Xiang He Capital,  GG...
499    [Novator Partners,  True,  Causeway Media Part...
500    [Data Collective,  True Ventures,  SoftBank Gr...
Name: Select Investors, Length: 501, dtype: object