In [22]:
import pandas as pd
import numpy as np
import os
import networkx as nx

In [5]:
fpath = os.path.join("..", "data", "unicorn_company_invester.csv")
df = pd.read_csv(fpath, converters={"Select Investors": lambda x: x.split(",")})

In [6]:
df.head()

,Company,Valuation($B),Date Joined,Country,Industry,Select Investors
0,100credit,$1,4/18/2018,China,Fintech,"[Sequoia Capital China, China Reform Fund, H..."
1,17zuoye,$1,3/7/2018,China,Edtech,"[DST Global, Temasek Holdings]"
2,23andMe,$2.50,7/3/2015,United States,Health,"[Google Ventures, New Enterprise Associates, ..."
3,4Paradigm,$2,12/19/2018,China,Artificial intelligence,"[Sequoia Capital China, China Construction Ba..."
4,58 Daojia,$1,10/12/2015,China,Internet software & services,"[KKR, Alibaba Group, Ping An Insurance]"

In [11]:
r_comps, r_invests = [], []
for company, investors in df[["Company", "Select Investors"]].values.tolist():
    n_rows = len(investors)
    comps = np.full(n_rows, company)
    r_comps += comps.tolist()
    r_invests += investors

In [32]:
rdf = pd.DataFrame()
rdf["Company"] = np.array(r_comps)
rdf["Investors"] = np.array(r_invests)
rdf

        Company                      Investors
0     100credit          Sequoia Capital China
1     100credit              China Reform Fund
2     100credit   Hillhouse Capital Management
3       17zuoye                     DST Global
4       17zuoye               Temasek Holdings
...         ...                            ...
1381      Zwift                           True
1382      Zwift        Causeway Media Partners
1383   Zymergen                Data Collective
1384   Zymergen                  True Ventures
1385   Zymergen                 SoftBank Group

[1386 rows x 2 columns]

In [33]:
B = nx.Graph()

In [34]:
B.add_nodes_from(rdf["Company"].unique().tolist(), bipartite=0)
B.add_nodes_from(rdf["Investors"].unique().tolist(), bipartite=1)

In [35]:
edges = [(comp, inve) for comp, inve in zip(rdf["Company"], rdf["Investors"])]
B.add_edges_from(edges)

In [38]:
from networkx.algorithms import bipartite
company_graph = bipartite.projected_graph(B, set(rdf["Company"].tolist()))
investor_graph = bipartite.projected_graph(B, set(rdf["Investors"].tolist()))